.title
{
    margin-bottom: 20px;
    padding:20px
}
.item-img-block{
    max-height: 160px;
    overflow: hidden;
    position: relative;
}
.item-img-block .on-over-work-item{
    opacity: 0;
}
.item-img-block:hover .on-over-work-item{
    opacity: 1;
}
.on-over-work-item{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5) !important;
}
.on-over-work-item a:hover, .on-over-work-item a{
    background: transparent !important;
}
.img
{
    height: auto;
    width:100%
}